a {
  text-decoration: none;
  color: white;
}

.button_more {
  width: 70px;
  margin-top: 5px;
  padding: 5px;
  background-color: #666;
  border-radius: 5px;
  text-align: center;
}
.news_container {
  margin-bottom: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 4px 4px 30px 4px;
  border: 2px solid #ccc;
}
